# random osx filesystem nonsense
.dccache

# VS Code and XCode workspace files/directories
.vscode
*.xcworkspace   
*.code-workspace

# build and object directories
obj
bin

# httpd server example filesystem includes
*makefsdata.c.*
*.fsdata
